.main {
  margin: auto;
  width: 50vw;
}

.paramContainer {
  z-index: 2;
  background-color: ivory;
}

.fixedParamContainer {
  position: fixed;
  right: 100px;
  z-index: 2;
  background-color: ivory;
}

.headerContainer {
  margin-top: 108px;
}

.header {
  display: flex;
  width: 100%
}

.contentContainer {
  display: flex;
  justify-content: center;
}

.card {
  display: flex;
  margin: 0px auto;
  width: calc(70vw + 20px);
  padding: 24px;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
}

.perPageContainer {
  display: flex;
  align-items: center;
}

.indexController {
  width: 20vw;
  margin-left: 20px;
  box-sizing: border-box;
  margin-top: 24px;
  padding: 24px 12px;
}

.title {
  font-size: 32px;
  font-weight: 800;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  width: calc(70vw + 20px);
  margin: 0px auto;
  box-sizing: border-box;
}

@media (max-width: 480px) {
  .main {
    margin: 0px;
    width: 100%;
  }

  .paramContainer {
    right: 10px;
    top: 0px;
  }

  .contentContainer {
    flex-direction: column;
  }

  .indexController {
    width: auto;
    margin: 0px 5px
  }

  .card {
    width: auto;
    margin: 0px 8px
  }

  .title {
    display: none;
  }

  .perPageContainer {
    width: 100%;
    justify-content: space-between;
  }

  .footer {
    width: auto;
    margin: 0px 8px;
    padding: 12px;
    margin-bottom: 68px;
  }
}