.main {
  margin: auto;
  padding-top: 60px;
  width: 50vw;
}

.paramContainer {
  z-index: 2;
  background-color: ivory;
}

.fixedParamContainer {
  position: fixed;
  right: 100px;
  z-index: 2;
  background-color: ivory;
}

@media (max-width: 480px) {
  .main {
    margin: 0px;
    width: 100%;
  }

  .paramContainer {
    right: 10px;
    top: 0px;
  }
}