.box {
  position: fixed;
  z-index: 2;
  background: transparent;
  right: 100px;
  bottom: 200px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.container {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  align-items: center;
  display: flex;
  justify-content: center;
  cursor: pointer;
  box-sizing: border-box;
  background-color: ivory;
}

.container:hover {
  border: 2px solid black;
}

.downward {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 14px solid black;
  position: absolute;
}

.upward {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 14px solid black;
  position: absolute;
}

@media (max-width: 480px) {
  .box {
    flex-direction: row;
    top: 0px;
    right: 100px;
  }
}
