.title {
  font-size: 30px;
  word-break: break-all;
  margin: 0px;
}

.wrongQuestionContainer {
  border: 2px solid rgba(255, 0, 0, 0.58);
  box-shadow: 5px 5px rgba(255, 0, 0, 0.58);
  padding: 32px;
  white-space: pre-wrap;
  word-break: break-word;
  background-color: ivory;
  margin-top: 10px;
  margin-bottom: 16px;
}

.correctQuestionContainer {
  border: 2px solid rgb(34 197 94);
  box-shadow: 5px 5px rgb(34 197 94);
  padding: 32px;
  white-space: pre-wrap;
  word-break: break-word;
  position: relative;
  background-color: ivory;
  margin-top: 10px;
  margin-bottom: 16px;
}

.unMarkedContainer {
  border: 2px dashed black;
  box-shadow: 5px 5px black;
  padding: 32px;
  margin-top: 10px;
  margin-bottom: 16px;
}

.question {
  margin-top: 15px;
  font-size: 18px;
  font-weight: 600;
  width: 100%;
}

.candidates {
  margin: auto 0px auto 5px;
  width: 100%;
}

.inputContainer {
  border: 2px solid rgb(209 213 219 / var(--tw-border-opacity, 1));
  display: flex;
  min-height: 36px;
  padding: 16px 6px;
  align-items: center;
  margin-bottom: 16px;
}

.inputContainer:hover {
  background-color: transparent;
  font-weight: normal;
}

.inputContainer:has(input:disabled):hover {
  background-color: none;
}

.questionHeader {
  display: flex;
  flex-direction: column;
}

.dueDateContainer {
  display: flex;
  flex-direction: column;
  text-align: end;
  margin-bottom: 10px;
  font-weight: 600;
}

.hintButtonContainer {
  display: flex;
  cursor: pointer;
  font-weight: 600;
  justify-content: flex-end;
}

.hintButtonContainer:hover {
  font-weight: 800;
}

.downArrow {
  margin-top: 5px;
  margin-left: 10px;
  width: 6px;
  height: 6px;
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 0px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.upArrow {
  margin-top: 8px;
  margin-left: 10px;
  width: 6px;
  height: 6px;
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 0px;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.hint {
  margin: 20px 0px;
  font-weight: 500;
}

.answerContainer {
  color: black;
  border: 1px solid rgb(34 197 94 / var(--tw-border-opacity, 1));
  box-shadow: 3px 3px rgba(34, 197, 94, 1);
  background-color: rgb(240 253 244);
  display: flex;
  min-height: 36px;
  padding: 16px 6px;
  align-items: center;
  margin-bottom: 16px;

  /* margin: 10px 0px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  min-height: 36px;
  background-color: rgba(0, 128, 0, 0.58);
  color: white;
  font-weight: 600; */
}

.wrongAnswerContainer {
  border: 1px solid rgb(239 68 68);
  box-shadow: 3px 3px rgba(239, 68, 68, 1);
  background-color: rgb(254 242 242);
  color: black;
  display: flex;
  min-height: 36px;
  padding: 16px 6px;
  align-items: center;
  margin-bottom: 16px;

  /* margin: 10px 0px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  min-height: 36px;
  background-color: rgba(255, 0, 0, 0.58);
  color: white; */
}

.explanationContainer {
  background: #2d2d2d;
  color: white;
  padding: 10px 5px;
}

.explanationHeader {
  font-size: 24px;
  font-weight: 600;
  height: 32px;
  line-height: 32px;
  padding-bottom: 6px;
  margin-bottom: 4px;
  border-bottom: 1px solid gray;
}

.explanationDetails {
  padding-left: 10px;
}

.topic_card_container {
  margin: 12px 0px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.topic_card {
  display: flex;
  height: 24px;
  line-height: 24px;
  padding: 2px 4px;
  border: 1px solid black;
  box-shadow: 2px 2px black;
}

@media (max-width: 480px) {
  .title {
    font-size: 24px;
    margin-bottom: 8px;
    word-break: break-all;
  }

  .question {
    margin-top: 8px;
    font-size: 18px;
  }

  .candidates:hover {
    font-weight: 700;
  }

  .inputContainer {
    margin-left: 4px;
    padding: 12px 0px;
    line-height: 18px;
    font-size: 12px;
  }

  .wrongAnswerContainer {
    margin-left: 4px;
    padding: 12px 0px;
    line-height: 18px;
    font-size: 12px;
  }

  .answerContainer {
    margin-left: 4px;
    padding: 12px 0px;
    line-height: 18px;
    font-size: 12px;
  }

  .dueDateContainer {
    font-size: 12px;
  }

  .upArrow {
    margin-top: 8px;
    margin-left: 10px;
    width: 6px;
    height: 6px;
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 0px;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }

  .hint {
    font-size: 12px;
  }

  textarea {
    width: 100%;
    box-sizing: border-box;
  }
}