.container {
    margin: 20px 12px;
    font-family: monospace;
}

.title {
    text-transform: capitalize;
}

.link {
    margin-right: 8px;
}

.card {
    padding: 20px 12px;
}

.cardContainer {
    margin-top: 12px;
}

.pieChartContainer {
    display: flex;
    justify-content: space-around;
    margin: 12px 0px;
}

.tutoringContainer {
    display: flex;
    justify-content: space-between;
}

.calendar {
    border: 0px !important;
    box-shadow: 0px 0px;
}

.radarChartContainer {
    display: flex;
    justify-content: center;
}

@media (max-width: 480px) {
    .container {
        margin: 8px 8px 8px 6px;
    }

    .card {
        padding: 4px 8px 12px;
        margin-bottom: 18px;
    }

    .title {
        font-size: 40px;
        margin: 10px 5px 0px;
    }

    .subTitle {
        margin-top: 0px;
        font-size: 24px;
        margin-bottom: 8px;
    }

    .link {
        margin-right: 4px;
    }

    .button {
        width: 88px;
        height: 24px;
        font-size: 12px;
    }

    .tutoringContainer {
        padding: 8px;
        flex-direction: column;
        margin-right: 12px;
        margin-left: 8px;
    }

    .calendar {
        border: 1px solid black !important;
        box-shadow: 2px 2px black !important;
        /* margin: 12px 2px 8px; */
    }
}