.inputContainer {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 400px;
    justify-content: space-evenly;
    padding: 20px 30px;
    margin: 50px auto 0px;
}

.loginButton {
    margin: 0px auto;
}

.oauthButton {
    display: flex;
}

.oauthImage {
    overflow: hidden;
}