.inputContainer {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 400px;
    justify-content: space-evenly;
    padding: 20px 30px;
    margin: 120px auto 0px;
    position: relative;
}

.title {
    margin: 0px;
    text-align: center;
    position: absolute;
    top: -60px;
    background: ivory;
    left: 50%;
    transform: translateX(-50%);
    width: max-content;
}

.loginButton {
    margin: 0px auto;
}

.oauthButton {
    display: flex;
}

.oauthImage {
    overflow: hidden;
}