.inputContainer {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 200px;
    justify-content: space-evenly;
}

.oauthButton {
    display: flex;
}

.oauthImage {
    overflow: hidden;
}