.span {
  font-size: 28px;
  font-weight: 700;
}

.button {
  background-color: transparent;
  font-weight: 300;
  font-size: 24px;
  border: 1px solid black;
  width: 36px;
  height: 36px;
  text-align: center;
  cursor: pointer;
}

.button:hover {
  border: 2px solid black;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
}

.day-name {
  font-weight: bold;
  text-align: center;
}

.day {
  min-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  text-align: center;
}

.day.clickable {
  cursor: pointer;
  background-color: #f9f9f9;
}

.day.clickable:hover {
  background-color: #eee;
}

.dayContainer {
  width: 100%;
  margin-bottom: auto;
}

.dayText {
  text-align: left;
  padding-left: 3px;
  background-color: rgb(184, 183, 141);
  color: white;
  height: 24px;
  line-height: 24px;
  margin-bottom: 8px;
}

.toCheck {
  background-color: lightgray;
  text-transform: capitalize;
  width: 100%;
  font-weight: 700;
  margin-bottom: 8px;
  cursor: pointer;
}

.mark {
  text-transform: capitalize;
  width: 100%;
  font-weight: 700;
  margin-bottom: 8px;
}

.green {
  font-size: 14px;
  height: 14px;
  line-height: 14px;
  margin-top: -2px;
  color: rgba(0, 128, 0, 0.58);
  position: relative;
}

.red {
  font-size: 14px;
  height: 14px;
  line-height: 14px;
  margin-top: -2px;
  color: rgba(255, 0, 0, 0.58);
  position: relative;
}

.unmarked {
  position: absolute;
  right: 12px;
  font-size: 14px;
  color: black;
  top: 0px;
}

.card {
  padding: 12px 8px;
}

.left {
  border-right-width: 20px !important;
  border-top-width: 12px !important;
  border-bottom-width: 12px !important;
}

.right {
  border-left-width: 20px !important;
  border-top-width: 12px !important;
  border-bottom-width: 12px !important;
}

@media (max-width: 480px) {
  .header {
    margin-bottom: 4px;
  }

  .button {
    width: 24px;
    height: 24px;
  }

  .left {
    border-right-width: 12px !important;
    border-top-width: 8px !important;
    border-bottom-width: 8px !important;
  }

  .right {
    border-left-width: 12px !important;
    border-top-width: 8px !important;
    border-bottom-width: 8px !important;
  }

  .span {
    font-size: 18px;
    line-height: 24px;
  }

  .calendar-grid {
    gap: 3px
  }

  .day-name {
    font-size: 12px;
  }

  .day {
    min-height: 18px;
  }

  .dayText {
    height: 12px;
    line-height: 12px;
    font-size: 12px;
    margin-bottom: 4px;
  }

  .mark {
    font-size: 11px;
  }

  .green {
    font-size: 11px;
    line-height: 10px;
    height: 10px;
  }

  .red {
    font-size: 11px;
    line-height: 10px;
    height: 10px;
  }
}