.mainContainer {
  height: 880px;
  border: 2px solid black;
}

.top {
  display: flex;
  border-bottom: 2px solid black;
}

.logoContainer {
  width: 160px;
  height: 160px;
  padding: 40px;
  border-right: 2px solid black;
}

.logo {
  width: 160px;
  height: 160px;
}

.nameContainer {
  font-size: 48px;
  font-weight: 900;
  letter-spacing: -2px;
  width: 100%;
  text-align: center;
  margin: auto;
}

.job {
  height: 22px;
  font-size: 28px;
  font-weight: 200;
  letter-spacing: -1px;
  line-height: 22px;
}

.personalInfo {
  font-size: 24px;
  font-weight: 300;
  letter-spacing: -1px;
  border-left: 2px solid black;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.personalInfoContact {
  font-weight: 500;
  height: 48px;
  border-bottom: 2px solid;
}

.personalInfoTextBox {
  width: 240px;
}

.navigation {
}
