.container {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 600px;
  height: 600px;
  margin-top: 120px;
}

.question {
  font-size: 105px;
  font-weight: 900;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  line-height: 80px;
}

.inputContainer {
  display: flex;
  height: 60px;
  margin-top: 120px;
  justify-content: space-evenly;
}
.button {
  width: 130px;
  height: 60px;
  font-size: 18px;
  font-weight: 600;
  border: 1px solid black;
  background-color: transparent;
  cursor: pointer;
}

.button:hover {
  font-weight: 800;
  border: 2px solid black;
  background-color: #ffffe7;
}

.button:disabled:hover {
  cursor: default;
  border: 1px solid black;
  font-weight: 600;
  background-color: transparent;
}

.font {
  font-family: Consolas, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
