.page {
  width: 50vw;
  margin: auto;
  padding-top: 60px;
}

.header {
  display: flex;
}

.h1 {
  width: 100%;
  margin: 0px;
  height: 80px;
  line-height: 80px;
}
.buttonContainer {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.button {
  width: 130px;
  height: 40px;
  font-size: 18px;
  font-weight: 600;
  border: 1px solid black;
  background-color: transparent;
  cursor: pointer;
}

.button:hover {
  font-weight: 800;
  border: 2px solid black;
  background-color: #ffffe7;
}

.score {
  margin-left: 5px;
  font-size: 24px;
  font-weight: 200;
}

.searchContainer {
  display: flex;
}

.searchDropdownContainer {
  position: relative;
}

.searchDropdownButton {
  border: 1px solid #000;
    height: 60px;
    line-height: 60px;
    text-align: left;
    width: 150px;
    background: transparent;
    font-size: 20px;
    padding-left: 14px;
    cursor: pointer;
}

.downward {
  top: 27px;
  right: 7px;
  width: 0; 
  height: 0; 
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 10px solid black;
  position: absolute;
}

.upward {
  top: 27px;
  right: 7px;
  width: 0; 
  height: 0; 
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 10px solid black;
  position: absolute;
}

.searchDropdown {
  position: absolute;
  background-color: ivory;
  border: 1px solid black;
  border-top: 0px;
  width: 150px;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
}

.searchDropdown button {
  font-size: 20px;
  text-align: left;
  border: 0px;
  border-bottom: 1px solid black;
  background-color: ivory;
  cursor: pointer;
  padding: 8px 0px 8px 12px;
}