.container {
  display: flex;
}

.studentContainer {
  width: 50%;
  margin-right: 180px;

}

.studentsTitle {
  font-size: 40px;
  font-weight: 700;
  height: 48px;
  line-height: 40px;
  border-bottom: 1px solid black;
  margin-bottom: 24px;
}

.studentsContainer {
  display: flex;
  flex-direction: column;
}

.studentLink {
  color: black;
  font-size: 24px;
  margin-bottom: 12px;
  text-transform: capitalize;
}

.calendarContainer {
  width: 50%;
}

.link {
  display: flex;
  justify-content: space-between;
  margin: 8px 0px 0px;
}


.button {
  width: 72px;
  height: 44px;
}

.link button {
  border: 1px solid black;
  background-color: transparent;
  cursor: pointer;
  width: 72px;
}

.link button:hover {
  border: 2px solid black;
  font-weight: 700;
}

.linkContainer {
  display: flex;
  margin-bottom: 20px;
}

.linkButton {
  width: 130px;
  height: 40px;
  font-size: 18px;
  font-weight: 600;
  border: 1px solid black;
  background-color: transparent;
  cursor: pointer;
  color: black;
  text-decoration: none;
  display: block;
  line-height: 38px;
  text-align: center;
  margin-right: 15px;
  box-sizing: border-box;
}

.linkButton:hover {
  font-weight: 800;
  border: 2px solid black;
  background-color: #ffffe7;
}