.type {
  justify-content: flex-end;
  color: lightgray;
  font-size: 10px;
  display: flex;
}

.java_keyword {
  color: rgb(241, 167, 254);
}
.java_string {
  color: rgb(137, 255, 137);
}
.java_comment {
  color: gray;
}

.java_method {
  color: rgb(118, 253, 248);
}

.java_type {
  color: rgb(250, 199, 105);
}

.sql_keyword {
  color: rgb(241, 167, 254); /* Pink-ish */
}

.sql_string {
  color: rgb(137, 255, 137); /* Green-ish */
}

.sql_comment {
  color: gray;
}

.sql_method {
  color: rgb(118, 253, 248); /* Cyan-ish */
}

.sql_type {
  color: rgb(250, 199, 105); /* Orange-ish */
}

.codeContainer {
  white-space: pre-wrap;
  background-color: rgb(40, 40, 40);
  color: white;
  padding: 15px 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (max-width: 480px) {
  .codeContainer {
    font-size: 10px;
  }
}
