.container {
  height: 100%;
}

.active {
  height: calc(100%);
  margin-right: 60px;
  border-right: 2px solid black;
  opacity: 1;
  transition: all 1.2s ease-in-out;
  padding: 0px 55px 0px 0px;
}

.deactive {
  height: calc(100%);
  border-right: 0px solid black;
  margin-right: 0px;
  transition: all 1.2s ease-in-out;
  padding: 0px 55px 0px 0px;
}

.detailsContainerActive {
  display: flex;
  opacity: 1;
  height: inherit;
  transition-property: opacity, height;
  transition-duration: 1.6s, 0s;
  transition-delay: 0s, 0s;
  transition-timing-function: ease-in-out;
}

.detailsContainerDeactive {
  display: flex;
  opacity: 0;
  height: 0;
  transition-property: opacity, height;
  transition-duration: 0.8s, 0s;
  transition-delay: 0s, 0.8s;
  transition-timing-function: ease-in-out;
}

.infoContainerActive {
  opacity: 1;
  height: 100%;
  transition-property: opacity;
  transition-duration: 1.6s;
  transition-timing-function: ease-in-out;
}

.infoContainerDeactive {
  opacity: 0;
  height: 0;
  transition-property: opacity;
  transition-duration: 0.8s;
  transition-timing-function: ease-in-out;
}

.sliderContainer {
  width: 35%;
  padding: 2px;
  opacity: 1;
  transition: all 1.2s ease-in-out;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
}

/* .sliderContainerDeactive {
  width: 35%;
  opacity: 0;
  padding: 2px;
} */

.titleContainer {
  display: flex;
  width: 65%;
}

.textContainer {
  font-family: "Playfair Display";
  padding-left: 30px;
  padding-top: 20px;
}

.title {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 10px;
}
.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
}

.logo {
  filter: grayscale(100%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: calc(20vw - 80px);
  height: calc(20vw - 80px);
  margin: auto;
}
