.title {
  font-size: 40px;
  margin-bottom: 10px;
}

.questionContainer {
  border: 2px solid black;
  box-shadow: 5px 5px black;
}

.question {
  margin-top: 15px;
  font-size: 30px;
  font-weight: 700;
  width: 100%;
}

.candidates {
  margin: auto 0px auto 5px;
  width: 100%;
}

.candidates:hover {
  font-weight: 700;
}

.inputContainer {
  margin-left: 10px;
  display: flex;
  min-height: 36px;
}

.questionHeader {
  display: flex;
  flex-direction: column;
}

.dueDateContainer {
  display: flex;
  flex-direction: column;
  text-align: end;
  margin-bottom: 10px;
  font-weight: 600;
}
.hintButtonContainer {
  display: flex;
  cursor: pointer;
  font-weight: 600;
  justify-content: end;
}
.hintButtonContainer:hover {
  font-weight: 800;
}

.downArrow {
  margin-top: 5px;
  margin-left: 10px;
  width: 6px;
  height: 6px;
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 0px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.upArrow {
  margin-top: 8px;
  margin-left: 10px;
  width: 6px;
  height: 6px;
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 0px;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.hint {
  margin: 20px 0px;
  font-weight: 500;
}
