.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 12px;
}

.rightHeaderContainer {
    display: flex;
    margin: auto 0px;
}

.triangle {
    margin-top: auto;
    margin-bottom: auto;
}