.image {
  -webkit-filter: grayscale(1);
  -moz-filter: grayscale(1);
  filter: grayscale(1);
  position: absolute;
  inset: 0;
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: none;
  margin: auto;
  height: inherit;
  -webkit-transition: background-image 0.8s ease;
  transition: background-image 0.8s ease;
  transform: translate3d(0, 0, 0);
}

.blur {
  position: absolute;
  left: -25px;
  right: -25px;
  top: -25px;
  bottom: -25px;
  background-color: transparent;
  -webkit-filter: blur(3px) grayscale(1);
  -moz-filter: blur(3px) grayscale(1);
  filter: blur(3px) grayscale(1);
  transform: scale(1.8) translate3d(0, 0, 0);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  /* background-image: none; */

  margin: auto;
  height: inherit;
  -webkit-transition: background-image 0.8s ease;
  transition: background-image 0.8s ease;
}

@keyframes nextImage {
  0% {
    opacity: 0;
    width: 100%;
  }

  100% {
    opacity: 1;
    width: 100%;
  }
}

.fade {
  opacity: 0;
  animation: fadeIn 0.8s ease forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}