.image {
  position: absolute;
  inset: 0;
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: none;
  margin: auto;
  height: inherit;
  -webkit-transition: background-image 0.8s ease;
  transition: background-image 0.8s ease;
}
.blur {
  position: absolute;
  left: -25px;
  right: -25px;
  top: -25px;
  bottom: -25px;
  background-color: ivory;
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  filter: blur(3px);
  transform: scale(1.8);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: none;

  margin: auto;
  height: inherit;
  -webkit-transition: background-image 0.8s ease;
  transition: background-image 0.8s ease;
}
